@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.grid{
    width: 600px;
    height: 600px;
    border: solid #000000 1px; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position:relative;
}
.grid div{
    width: 40px;
    height: 40px;
    /* top:100px; */
}
.invader{
    /* background-color: rgb(157, 103, 167); */
    /* border-radius: none; */
    background-image: url('./images/robot40.png');
    /* width:50px;
    height: 50px; */
}
.shooter{
    /* background-color: rgb(0, 0, 0); */
    background-image: url("./images/star40.png" );
}
.laser{
    background-image: url("./images/laser40.png");
}
.boom{
    background-image: url("./images/boom40.png");
}
body {
    background-image:url('/Users/danielavillanueva/Desktop/Invaders/blue_sky_pixel_animation.gif') ;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
}
h1{
    color: rgba(194, 177, 24, 0.902);
    position: relative;
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
/* }
.audio{
    display:none; */
}
.results{
    color: white;
}
.link{
    position:relative;
    top: 220px;
    right: 40px;
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 50px;
    border: 5px solid white;
    display:inline-block

}
.starIntro{
    position:relative;
    height:130px;
    width: 130px;
    top: 450px;
    right:320px;
    
}
.robotIntro{
    position:relative;
    height:80px;
    width: 80px;
    right: 560px;
    top: 30px;
}
.welcomeHeading{
    color: rgba(194, 177, 24, 0.902);
    position: relative;
    top: 100px;
    left: 250px;
    font-size: 100px;
    font-family: 'Amatic SC', cursive;
}
.instructionsHeading{
    color: rgba(194, 177, 24, 0.902);
    position: relative;
    font-size: 70px;
    left: 400px;
    font-family: 'Amatic SC', cursive;
}
.instructions{
    position:relative;
    top: 330px;
    right: 180px;
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 50px;
    border: 5px solid white;
    display:inline-block

}
.goBack{
    position:relative;

    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 50px;
    border: 5px solid white;
    display:inline-block
}
h3{
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
    top: 400px;
    right: 330px;
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 40px;
}
.instructionsSubHeading2{
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
    top: 400px;
    right: 330px;
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 60px;
}
.instructionsSubHeading{
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
    top: 200px;
    right: -32px;
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 60px;
}
.robotInstructions{
    position:relative;
    height: 60px;
    width:60px;
    left: 70px;
    top: -65px;
}